@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}


/*  infinite animation  */
.logo {
	width: 100px;
	height: 70px;
	display: flex;
	justify-content: center !important;
	align-items: center;
	float: left;
	margin-left: 250px;
}

.logo span {
	justify-content: space-around;
	position: absolute;
	box-sizing: border-box;
	border: 2.5px solid rgb(48, 173, 163);
	border-radius: 70%;
	animation: animate 5s linear infinite;
	animation-delay: calc(-0.5s * var(--i));
	margin-right: 50px;
}

@keyframes animate {
	0% {
		width: 0px;
		height: 0px;
	}

	50% {
		opacity: 5;
	}

	100% {
		width: 50px;
		height: 50px;
		opacity: 0;
	}
}

/* end of infinite animation  */

/* header */

header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2px 5%;
	background-color: rgb(19, 18, 18);
	width: 100%;
}

.logo {
	cursor: pointer;
	margin-right: auto;
	position: relative;
	right: 180px;
}

.logo a {
	color: #fff;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.logo h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logo h3:hover {
	text-shadow: 2px 2px 8px #08fdd8;
	font-size: 1.6rem;
	opacity: 90%;
}

/*navbar*/
.fas {
	padding: 5px;
}

.nav__links{
	list-style: none;
	margin-top: 10px;
}

.nav__links .nav-icon{
	display: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 12px;
	
}

.nav__links li a{
	transition: all 0.3s ease 0s;	
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 17px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center !important;
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(41, 185, 173) !important;
	padding: 10px;
}

.nav__links li a:hover{
	color: #00ffd9 !important;
	background-color: rgb(51, 50, 50);
	border-radius: 10%;
	font-size: 18px;
	transition: 0.3s;
}

#highlight {
	color: #00ffd9 !important;
}

@media all and (min-width:1063px) and (max-width:1335px) {
	
	header{
		display: flex;
		justify-content: baseline;
		align-items: center;
		padding: 2px 5%;
		background-color: rgb(19, 18, 18);
		width: 100%;
	}
	
	.nav__links li {
		display: inline-block;
		padding: 2px 5px;	
	}
	
	.nav__links li a{
		letter-spacing: 1px;
		font-size: 15px;
		font-weight:500;
		padding: 5px;
		
	}
	
	.nav__links li a:hover{
		font-size: 16px;
	}
}
@media all and (min-width:750px) and (max-width:1063px) {
	#nav__container {
		text-align: left;
		float: none;
	}

	#nav__container li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px 50px 20px;
	}

	#nav__container.responsive li:not(:first-child) {
		display: none;
	}

	#nav__container li:not(:first-child) {
		position: relative;
		right: 200px;
	}

	#nav__container li a {
		letter-spacing: 2px;
		font-size: 20px;
		font-weight:600;
		padding: 10px;
	}
	#nav__container .nav-icon{
		display: flex;
		position: absolute;
		top: 5px;
		right: 80px;
		font-size: 2.5rem;
		
	}
	.nav__links .nav-icon:hover{
		font-size: 2.6rem;
	}
}
@media all  and (min-width:559px) and (max-width:750px) {
	.logo {
		right: 260px;
	}
	
	.logo h3 {
		font-size: 1.1rem;
		left: 50px !important;
		bottom: -7px;
	}
	
	.logo h3:hover {
		font-size: 1.1rem;
	}


	#nav__container li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px 0px ;
	}

	#nav__container.responsive li:not(:first-child) {
		display: none;
	}

	#nav__container li:not(:first-child) {
		position: relative;
		right: 140px;
	}

	#nav__container li a {
		letter-spacing: 2px;
		font-size: 18px;
		font-weight:500;
		padding: 10px;
	}
	#nav__container .nav-icon{
		display: flex;
		position: absolute;
		top: 5px;
		right: 50px;
		font-size: 2.5rem;
		
	}
	.nav__links .nav-icon:hover{
		font-size: 2.6rem;
	}

}
@media (max-width:559px) {
	.logo {
		right: 115px;
	}

	.logo h3 {
		display: none;
	}
	
	.logo h3:hover {
		font-size: 1.1rem;
	}


	#nav__container li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 20px  ;
	}

	#nav__container.responsive li:not(:first-child) {
		display: none;
	}

	#nav__container li:not(:first-child) {
		position: relative;
		right: 30px;
	}

	#nav__container li a {
		display: flex;
		flex-direction: row;
		letter-spacing: 1px;
		font-size: 19px;
		font-weight:600;
		padding: 2px;
	}
	#nav__container .nav-icon{
		display: flex;
		position: absolute;
		top: 5px;
		right: 16px;
		font-size: 2.2rem;
	}

	.fas {
		padding: 11px;
	}

}
/*End of navbar */


/*Home Section */
#home .container-fluid {
	background-image: url("images/1.jpg");
	background-size: 100% auto;
	height: 780px;
	overflow: hidden;
	clear: both;
	background-position: top center;
	position: relative;
}



.text h2,
.text h1 {
	color: #fff;
	font-size: 4rem;
	cursor: context-menu;
	position: relative;
	left: 380px;
	top: 150px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	
}

.text span {
	display: inline-block;
}

span:hover {
	color: #08fdd8;
	opacity: 70%;
	transition: all .5s;
}

span.name {
	color: rgb(41, 185, 173);
}

span.m-left {
	margin-left: -10px;
}


.text a {
	padding: 12px 25px;
	background-color: none;
	border: 3px solid rgb(41, 185, 173);
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	position: relative;
	align-content: center;
	overflow: hidden;
	transition: .4s;
	display: inline-block;
	text-decoration: none;
	background-color: #0caa92;
	font-family: 'Poppins', sans-serif;
	left: 650px;
	top: 170px;
}

.text a:hover {
	color: #fff;
	opacity: 80%;
	font-size: 1.4rem;

}

.text a::before {
	content: '';
	background-color: #000000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: .4s;
}


.text a:hover::before {
	height: 100%;
}

section #empty {
	content: "";
	display: block;
	clear: both;
}

@media (max-width:575px) {
	#home .container-fluid {
		background-size: 100% auto;
		height: 750px;
		position: relative;
	}

	.text h2,
	.text h1 {
		font-size: 2.5rem;
		left:0px;
		top: 180px;
		letter-spacing: 1px;
	}

	span.m-left {
		margin-left: -15px;
	}

	.text a {
		padding: 15px 20px;
		color: #fff;
		font-size: 10px;
		left: 120px;
		top: 220px;
	}
	.text a:hover {
		padding: 15px 20px;
		color: #fff;
		font-size: 10px;
		left: 130px;
		top: 220px;
	}

}

@media (min-width:576px) {
	#home .container-fluid {
		background-size: 100% auto;
		height: 780px;
		position: relative;
	}

	.text h2,
	.text h1 {
		font-size: 3.5rem;
		left: 50px;
		top: 180px;
		letter-spacing: 0;
	}

	span.m-left {
		margin-left: -10px;
	}

	.text a {
		padding: 12px 20px;
		color: #fff;
		font-size: 20px;
		left: 250px;
		top: 220px;
	}

}

@media (min-width:768px) {

	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 180px;
		top: 180px;
	}

	span.m-left {
		margin-left: -20px;
	}

	.text a {
		left: 350px;
		top: 200px;
	}
}

@media (min-width:992px) {

	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 300px;
		top: 200px;
	}

	span.m-left {
		margin-left: -15px;
	}

	.text a {
		left: 500px;
		top: 230px;
	}
}

@media (min-width:1200px) {

	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 280px;
		top: 170px;
	}

	span.m-left {
		margin-left: -10px;
	}

	.text a {
		padding: 15px 28px;
		font-size: 22px;
		letter-spacing: 4px;
		left: 600px;
		top: 210px;
	}

}

@media (min-width:1400px){
	#home .container-fluid {
		background-size: 100% auto;
		height: 780px;
	}
	
	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 380px;
		top: 150px;
		font-weight: bold;
	}
	
	span.m-left {
		margin-left: -10px;
	}
	
	.text a {
		padding: 12px 25px;
		font-size: 20px;
		letter-spacing: 2px;
		left: 650px;
		top: 170px;
	}
}

/*End of first section */



/* About Section */

#about {
	background-color: #303031;
	height: 770px;
	border: black;
	background-color: rgb(54, 51, 51);
	position: relative;
}

section .h2 {
	color: #0caa92;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 40px;
	font-weight: bolder !important;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding: 15px;
	margin-left: 30px;
	text-align: left;
}

/* about picture */
section #me {
	border-radius: 9px;
	transition: 0.3s;
	position: absolute;
	border: #00ffd9;
	width: 90%;
	height: auto;
	box-shadow: 10px 5px;
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;

}

section .hover:hover .overlay {
	opacity: 0.7;
}


section .pic-info {
	color: rgb(41, 185, 173);
	font-size: 15px;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*end of aboutt picture */

section .about-info {
	color: rgb(241, 241, 241);
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

.flex-container{
	display: flex;
	justify-content: center;
}

.about-logos img {
	padding: 10px;
	margin-top: 10px;
	position: relative;
	left: 50px;

}

section #seeSkills {
	position: relative;
	bottom: 20px;
	left: 60px;
	padding: 5px 5px;
	background-color: none;
	border: 3px solid rgb(41, 185, 173);
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	align-content: center;
	transition: .4s;
	display: inline-block;
	text-decoration: none;
	background-color: #0caa92;
	font-family: 'Poppins', sans-serif;
	border-radius: 30%;
	text-transform: uppercase;
}

section #seeSkills:hover {
	color: #fff;
	opacity: 80%;
	font-size: 1.3rem;
}

@media (max-width:576px) {
#about {
	height: auto;
	padding-bottom: 100px;
}

section .h2 {
	letter-spacing: 4px;
	font-size: 30px;
	font-weight: 700;
	padding: 15px;
	margin-left: 30px;
}

/* about picture */
section #me {
	border-radius: 9px;
	transition: 0.3s;
	position: relative;
	width: 100%;
}

section .pic-info {
	color: rgb(41, 185, 173);
	font-size: 15px;
	position: absolute;
	top: 90%;
	left: 50%;
}

/*end of aboutt picture */

section .about-info {
	font-size: 17px;
	text-align: justify;
	word-spacing: 1px;
	float: left;
	position: relative;

}

.flex-container {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: center;
	top: 0px;
	left: -15px;
	float: left;
	padding: 0%;
	margin: 0;
}

.flex-container > div {
	text-align: center;
	line-height: 75px;
	padding: 5px;
}

section .about-info {
	padding: 10px;
}

.flex-container .logos{
	width: 100%;
	left: 0px;
} 

section #seeSkills {
	display: none;
}

section #seeSkills:hover {
	font-size: 1.2rem;
}

}
@media all and (min-width:577px) and (max-width:768px) {
	#about {
		height: auto;
		padding-bottom: 80px;
	}
	
	section .h2 {
		letter-spacing: 4px;
		font-size: 30px;
		font-weight: 700;
		padding: 15px;
		margin-left: 30px;
	}
	
	/* about picture */
	section #me {
		border-radius: 9px;
		transition: 0.3s;
		position: relative;
		width: 100%;
	}
	
	section .pic-info {
		font-size: 15px;
		position: absolute;
		top: 90%;
		left: 50%;
	}
	section .about-info {
		padding: 10px;
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: center;
		top: 0px;
		left: -15px;
		float: left;
		padding: 0%;
		margin: 0;
	}
	
	.flex-container > div {
		text-align: center;
		line-height: 75px;
		padding: 5px;
	}
	
	section .about-info {
		padding: 10px;
	}
	
	.flex-container .logos{
		width: 100%;
		left: 0px;
	} 
	
	section #seeSkills {
		display: none;
	}

	
}
@media all and (min-width:769px) and (max-width:992px) {
	#about {
		height: 800px;
		position: relative;
	}
	
	
	/* about picture */
	section #me {
		width: 90%;
		height: auto;
		box-shadow: 10px 5px;
	}

	section .about-info {
		padding: 10px;
	}
	
	.overlay {
		position: absolute;
		top: -300px;
		left: 0;
		right: 200px;
	}
	
	section .pic-info {
		font-size: 12px;
		top: 92%;
		left: 50%;
	}
	
	/*end of aboutt picture */
	
	section .about-info {
		font-size: 17px;
	}
	
	.flex-container{
		display: flex;
		justify-content: center;
		position: relative;
		right: 80px;
	}
	
	.about-logos img {
		padding: 10px;
		margin-top: 10px;
		position: relative;
	}
	
	section #seeSkills {
		position: relative;
		bottom: 20px;
		left: 60px;
		padding: 3px 3px;
		font-size: 18px;
		text-align: center;
	}
	
	section #seeSkills:hover {
		font-size: 1.1rem;
	}
}

@media all and (min-width:993px) and (max-width:1200px) {
	#about {
		height: 800px;
		position: relative;
	}
	
	
	/* about picture */
	section #me {
		width: 90%;
		height: auto;
		box-shadow: 10px 5px;
	}
	
	.overlay {
		display: none;
	}
	
	section .about-info {
		font-size: 17px;
		padding: 10px;
	}
	
	.flex-container{
		display: flex;
		justify-content: center;
		position: relative;
		right: 80px;
	}
	
	.about-logos img {
		padding: 10px;
		margin-top: 10px;
		position: relative;
	}
	
	section #seeSkills {
		position: relative;
		bottom: 20px;
		left: 60px;
		padding: 3px 3px;
		font-size: 18px;
		text-align: center;
	}
	
	section #seeSkills:hover {
		font-size: 1.1rem;
	}
}

/* Bar Chart */
#bar-chart {
	display: block;
	overflow: hidden;
	height: 700px;
	max-width: 100%;
}

#skills {
	height: 700px;
	max-width: 100%;
	background-color: rgb(54, 51, 51);
}


.bar-chart {
	list-style: none;
	height: 450px;
	width: 1450px;
	position: relative;
	background-color: #4b3434;
	padding: 0;
	left: 10px;
	margin: 10px;
	/* Y Axis */
}

.bar-chart li {
	display: inline-block;
	width: 10%;
	height: 100%;
	text-align: center;
	font-weight: 700;
	color: rgb(48, 7, 7);
	position: relative;
	font-size: 18px;
	padding: 10px;
	margin: 0 1.8% 0 0;
	border: rgb(143, 139, 139) solid 1px;
	border-radius: 5% 5% 0 0;
	vertical-align: bottom;
	border-bottom: #BBB solid 1px;
	-webkit-box-shadow: inset 1px 3px 3px 2px rgba(36, 18, 18, 0.411);
	-moz-box-shadow: inset 1px 3px 3px 2px rgba(36, 18, 18, 0.411);
	box-shadow: inset 1px 3px 3px 2px rgba(36, 18, 18, 0.411);
}

.bar-chart li:nth-child(6n) {
	margin-right: 0;
}

.bar-chart .percent {
	opacity: 0.3;
	position: absolute;
	bottom: 80px;
	font-size: 45px;
	font-size: 4.5rem;
	width: 100%;
	line-height: 1em;
}

.bar-chart .percent span {
	font-size: 24px;
	font-size: 2.4rem;
	padding-left: 3px;
}

.bar-chart .skill {
	position: absolute;
	bottom: 25px;
	width: 100%;
	font-size: 15px;
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
}

.bar-chart .p-30 {
	height: 30%;
}

.bar-chart .p-40 {
	height: 40%;
}

.bar-chart .p-50 {
	height: 50%;
}

.bar-chart .p-50:hover {
	height: 99%;
}

.bar-chart .p-70 {
	height: 70%;
}

.bar-chart .p-70:hover {
	height: 99%;
}

.bar-chart .p-75 {
	height: 75%;
}

.bar-chart .p-75:hover {
	height: 99%;
}

.bar-chart .p-80 {
	height: 80%;
}

.bar-chart .p-80:hover {
	height: 99%;
}

.bar-chart .p-85 {
	height: 85%;
}

.bar-chart .p-85:hover {
	height: 99%;
}

.bar-chart .p-95 {
	height: 95%;
}

.bar-chart .p-95:hover {
	height: 99%;
}


.bar-chart .p-100 {
	height: 100%;
}

.bar-chart .green {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .darkYellow {
	border-color: #8cb333;
	background-color: #8cb333;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8cb333), color-stop(1, #b2c28f));
	background-image: -ms-linear-gradient(bottom, #8cb333, #8cb333);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #e1ae9e 0%, #f4dcd6 100%);
	background-image: -o-linear-gradient(bottom, #8cb333, #8cb333);
}

.bar-chart .darkYellow:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .lighYellow {
	border-color: #ddae13;
	background-color: #dbae1b;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ddae13), color-stop(1, #d4c181));
	background-image: -ms-linear-gradient(bottom, #dbae1b, #dbae1b);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #dbae1b 0%, #dbae1b 100%);
	background-image: -o-linear-gradient(bottom, #dbae1b, #dbae1b);
}

.bar-chart .lighYellow:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .yellow {
	border-color: #db9a39;
	background-color: #db9a39;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #db9a39), color-stop(1, #d4c181));
	background-image: -ms-linear-gradient(bottom, #db9a39, #dbae1b);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #db9a39 0%, #db9a39 100%);
	background-image: -o-linear-gradient(bottom, #db9a39, #db9a39);
}

.bar-chart .yellow:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .brown {
	border-color: #b88a6b;
	background-color: #b88a6b;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b88a6b), color-stop(1, #dcba83));
	background-image: -ms-linear-gradient(bottom, #b88a6b, #b88a6b);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #b88a6b 0%, #b88a6b 100%);
	background-image: -o-linear-gradient(bottom, #b88a6b, #b88a6b);
}

.bar-chart .brown:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .red {
	border-color: #e14949;
	background-color: #da6d6c;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
	background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
	background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c);
}


.bar-chart .red:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}



.bar-chart li.axis {
	width: 10%;
	border: 2px;
	border-right: rgb(10, 2, 2) solid 1px;
	height: 450px;
	background: #464545;
	-webkit-box-shadow: inset 0 0 0 0 #ffffff;
	-moz-box-shadow: inset 0 0 0 0 #ffffff;
	box-shadow: inset 0 0 0 0 #ffffff;

}

.bar-chart .label {
	color: rgb(29, 150, 140);
	opacity: 0.9;
	margin: -0.6em 0 90px 0;
	font-size: 1.2rem;
	font-weight: 500;
	background-color: #252527;
	font-family: 'Poppins', sans-serif;
}


.bar-chart .label:hover {
	color: rgb(35, 201, 187);
	opacity: 0.8;
	margin: -0.6em 0 90px 0;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: #404055;
	font-family: 'Poppins', sans-serif;
}

.frameworks .framework {
	position: relative;
	left: 250px;
	color: #0caa92;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	border: #fff;

}







@media all and (min-width:300px) and (max-width:480px) {


	#bar-chart {
		overflow: hidden;
		height: auto;
		max-width: 100%;
	}
	
	#skills {
		height:auto;
		max-width: 100%;
		background-color: rgb(54, 51, 51);
		display: flex;
		flex-direction: row;
	}

	.bar-chart {
		list-style: none;
		height: 450px;
		width: 100%;
		position: relative;
		background-color: #4b3434;
		padding: 0;
		left: 0px;
		margin: 8px;
		/* Y Axis */
	}
	
	.bar-chart li {
		display: inline-block;
		width: 8%;
		height: 90%;
		text-align: center;
		font-weight: 500;
		color: rgb(48, 7, 7);
		position: relative;
		font-size: 10px !important;
		padding: 10px;
		margin: 0 1% 1% 0;
		vertical-align: bottom;
	}
	
	.bar-chart li:nth-child(6n) {
		margin-right: 0;
	}

	.bar-chart .percent {
		opacity: 0.5;
		position: absolute;
		bottom: 100px;
		font-size:20px;
		width: 100%;
		line-height: 10px;
		left: 3px;
	}
	
	.bar-chart .percent span {
		font-size: 15px;
		padding-left: 0px;
		position: relative;
		bottom: 20px;
		left: -20px;
	}
	
	.bar-chart .skill {
		transform: rotate(270deg);
		bottom: 150px;
		width: 100%;
		left: -3px;
		font-size: 15px;
		font-weight: bold;
	}

	.bar-chart li.axis {
		right: 30px;
		width: 24%;
		border: 1px;
		border-right: rgb(10, 2, 2) solid 1px;
		height: 450px;
		background: #464545;
	
	}
	
	.bar-chart .label {
		color: rgb(29, 150, 140);
		opacity: 1;
		margin: 0 0 80px 0;
		font-size: 10px;
		font-weight: 600;
		background-color: #414144;
	}
	
	
	.bar-chart .label:hover {
		opacity: 0.8;
		margin: 0em 0 90px 0;
		font-size: 10px;
		font-weight: 600;
	}
	
	.frameworks .framework {
		position: relative;
		left: 0px;
		color: #0caa92;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Poppins', sans-serif;
		border: #fff;
	
	}
	

.bar-chart .p-50 {
	height: 50%;
	width: 25px;
	left: 25px !important;
}


.bar-chart #brown2{
	left: 25px !important;
}


.bar-chart #brown{
	left: 10px !important;
}


.bar-chart .p-75 {
	height: 75%;
	width: 25px;
	left: 8px !important;
}


.bar-chart .p-80 {
	height: 80%;
	width: 25px;
	left: -2px !important;
}

.bar-chart .p-85 {
	height: 85%;
	width: 25px;
	left: -10px !important;
}

.bar-chart .p-95 {
	height: 95%;
	width: 25px;
	left:-20px !important;
}

}


@media all and (min-width:481px) and (max-width:700px) {


}