@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	/*background-image: linear-gradient(35deg, #1a1818, #0a2727);*/
}


/*  infinite animation  */
.logo {
	width: 100px;
	height: 70px;
	display: flex;
	justify-content: center !important;
	align-items: center;
	float: left;
	margin-left: 250px;
}

.logo span {
	justify-content: space-around;
	position: absolute;
	box-sizing: border-box;
	border: 2.5px solid rgb(48, 173, 163);
	border-radius: 70%;
	animation: animate 5s linear infinite;
	animation-delay: calc(-0.5s * var(--i));
	margin-right: 50px;
}

@keyframes animate {
	0% {
		width: 0px;
		height: 0px;
	}

	50% {
		opacity: 5;
	}

	100% {
		width: 50px;
		height: 50px;
		opacity: 0;
	}
}

/* end of infinite animation  */

/* header */

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 2px 5%;
	background-color: rgb(19, 18, 18);
	width: 100%;
	overflow: hidden;

}

.logo {
	cursor: pointer;
	margin-right: auto;
	position: relative;
	right: 180px;
}

.logo a {
	color: #fff;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

.logo h3 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logo h3:hover {
	text-shadow: 2px 2px 8px #08fdd8;
	font-size: 1.6rem;
	opacity: 90%;
}

/*navbar*/
.fas {
	padding: 5px;
}

.nav__links {
	list-style: none;
	margin-top: 10px;
}

.nav__links .nav-icon {
	display: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 12px;

}

.nav__links li a {
	transition: all 0.3s ease 0s;
	text-decoration: none;
	letter-spacing: 2px;
	font-size: 17px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center !important;
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(41, 185, 173) !important;
	padding: 10px;
}

.nav__links li a:hover {
	color: #00ffd9 !important;
	background-color: rgb(51, 50, 50);
	border-radius: 10%;
	font-size: 18px;
	transition: 0.3s;
}

#highlight {
	color: #00ffd9 !important;
}



@media all and (min-width:1063px) and (max-width:1335px) {

	header {
		display: flex;
		justify-content: baseline;
		align-items: center;
		padding: 2px 5%;
		background-color: rgb(19, 18, 18);
		width: 100%;
	}

	.nav__links li {
		display: inline-block;
		padding: 2px 5px;
	}

	.nav__links li a {
		letter-spacing: 1px;
		font-size: 15px;
		font-weight: 500;
		padding: 5px;

	}

	.nav__links li a:hover {
		font-size: 16px;
	}
}

@media all and (min-width:750px) and (max-width:1063px) {
	#nav__container {
		text-align: left;
		float: none;
	}

	#nav__container li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px 50px 20px;
	}

	#nav__container.responsive li:not(:first-child) {
		display: none;
	}

	#nav__container li:not(:first-child) {
		position: relative;
		right: 200px;
	}

	#nav__container li a {
		letter-spacing: 2px;
		font-size: 20px;
		font-weight: 600;
		padding: 10px;
	}

	#nav__container .nav-icon {
		display: flex;
		position: absolute;
		top: 5px;
		right: 80px;
		font-size: 2.5rem;

	}

	.nav__links .nav-icon:hover {
		font-size: 2.6rem;
	}
}

@media all and (min-width:559px) and (max-width:750px) {
	.logo {
		right: 260px;
	}

	.logo h3 {
		font-size: 1.1rem;
		left: 50px !important;
		bottom: -7px;
	}

	.logo h3:hover {
		font-size: 1.1rem;
	}


	#nav__container li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 20px 0px;
	}

	#nav__container.responsive li:not(:first-child) {
		display: none;
	}

	#nav__container li:not(:first-child) {
		position: relative;
		right: 140px;
	}

	#nav__container li a {
		letter-spacing: 2px;
		font-size: 18px;
		font-weight: 500;
		padding: 10px;
	}

	#nav__container .nav-icon {
		display: flex;
		position: absolute;
		top: 5px;
		right: 50px;
		font-size: 2.5rem;

	}

	.nav__links .nav-icon:hover {
		font-size: 2.6rem;
	}

}

@media (max-width:559px) {
	.logo {
		right: 90px;
	}

	.logo h3 {
		display: none;
	}

	.logo h3:hover {
		font-size: 1.1rem;
	}


	#nav__container li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-top: 20px;
	}

	#nav__container.responsive li:not(:first-child) {
		display: none;
	}

	#nav__container li:not(:first-child) {
		position: relative;
		right: 30px;
	}

	#nav__container li a {
		display: flex;
		flex-direction: row;
		letter-spacing: 1px;
		font-size: 19px;
		font-weight: 600;
		padding: 2px;
	}

	#nav__container .nav-icon {
		display: flex;
		position: absolute;
		top: 5px;
		right: 16px;
		font-size: 2.2rem;
	}

	.fas {
		padding: 11px;
	}

}

/*End of navbar */


/*Home Section */
#home .container-fluid {
	background-image: url("images/1.jpg");
	background-size: 100% auto;
	height: 780px;
	overflow-x: hidden;
	clear: both;
	background-position: top center;
	position: relative;
}



.text h2,
.text h1 {
	color: #fff;
	font-size: 4rem;
	cursor: context-menu;
	position: relative;
	left: 380px;
	top: 150px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;

}

.text span {
	display: inline-block;
}

span:hover {
	color: #08fdd8;
	opacity: 70%;
	transition: all .5s;
}

span.name {
	color: rgb(41, 185, 173);
}

span.m-left {
	margin-left: -10px;
}


.text a {
	padding: 12px 25px;
	background-color: none;
	border: 3px solid rgb(41, 185, 173);
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	position: relative;
	align-content: center;
	overflow: hidden;
	transition: .4s;
	display: inline-block;
	text-decoration: none;
	background-color: #0caa92;
	font-family: 'Poppins', sans-serif;
	left: 650px;
	top: 170px;
}

.text a:hover {
	color: #fff;
	opacity: 80%;
	font-size: 1.4rem;

}

.text a::before {
	content: '';
	background-color: #000000;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: .4s;
}


.text a:hover::before {
	height: 100%;
}

section #empty {
	content: "";
	display: block;
	clear: both;
}

@media (max-width:575px) {
	#home .container-fluid {
		background-size: 100% auto;
		height: 750px;
		position: relative;
	}

	.text h2,
	.text h1 {
		font-size: 2.5rem;
		left: 0px;
		top: 180px;
		letter-spacing: 1px;
	}

	span.m-left {
		margin-left: -15px;
	}

	.text a {
		padding: 15px 20px;
		color: #fff;
		font-size: 13px;
		left: 120px;
		top: 220px;
	}

	.text a:hover {
		padding: 15px 20px;
		color: #fff;
		font-size: 13px;
		left: 130px;
		top: 220px;
	}

}

@media (min-width:576px) {
	#home .container-fluid {
		background-size: 100% auto;
		height: 780px;
		position: relative;
	}

	.text h2,
	.text h1 {
		font-size: 3.5rem;
		left: 50px;
		top: 180px;
		letter-spacing: 0;
	}

	span.m-left {
		margin-left: -10px;
	}

	.text a {
		padding: 12px 20px;
		color: #fff;
		font-size: 20px;
		left: 250px;
		top: 220px;
	}

}

@media (min-width:768px) {

	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 180px;
		top: 180px;
	}

	span.m-left {
		margin-left: -20px;
	}

	.text a {
		left: 350px;
		top: 200px;
	}
}

@media (min-width:992px) {

	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 300px;
		top: 200px;
	}

	span.m-left {
		margin-left: -15px;
	}

	.text a {
		left: 500px;
		top: 230px;
	}
}

@media (min-width:1200px) {

	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 280px;
		top: 170px;
	}

	span.m-left {
		margin-left: -10px;
	}

	.text a {
		padding: 15px 28px;
		font-size: 22px;
		letter-spacing: 4px;
		left: 600px;
		top: 210px;
	}

}

@media (min-width:1400px) {
	#home .container-fluid {
		background-size: 100% auto;
		height: 780px;
	}

	.text h2,
	.text h1 {
		font-size: 4rem;
		left: 380px;
		top: 150px;
		font-weight: bold;
	}

	span.m-left {
		margin-left: -10px;
	}

	.text a {
		padding: 12px 25px;
		font-size: 20px;
		letter-spacing: 2px;
		left: 650px;
		top: 170px;
	}
}

/*End of first section */



/* About Section */

#about {
	background-color: #303031;
	height: 750px;
	border: black;
	background-image: linear-gradient(35deg, #1a1818, #0a2727);
	position: relative;
	overflow-x: hidden;
}

section .h2 {
	color: #0cc9ac;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 40px;
	font-weight: 900 !important;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding: 15px;
	margin-left: 30px;
}

/* about picture */
section #me {
	border-radius: 9px;
	transition: 0.3s;
	position: absolute;
	border: #00ffd9;
	width: 90%;
	height: 110%;
	box-shadow: 5px 5px rgb(15, 29, 34);
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;

}

section .hover:hover .overlay {
	opacity: 0.7;
}


section .pic-info {
	color: rgb(41, 185, 173);
	font-size: 15px;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*end of aboutt picture */

section .about-info {
	color: rgba(241, 241, 241, 0.842);
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.about-logos img {
	padding: 10px;
	margin-top: 10px;
	position: relative;
	left: 50px;
}

section #seeSkills {
	position: relative;
	bottom: 20px;
	left: 60px;
	padding: 5px 5px;
	background-color: none;
	border: 3px solid rgb(41, 185, 173);
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	align-content: center;
	transition: .4s;
	display: inline-block;
	text-decoration: none;
	background-color: #0caa92;
	font-family: 'Poppins', sans-serif;
	border-radius: 30%;
	text-transform: uppercase;
}

section #seeSkills:hover {
	color: #fff;
	opacity: 80%;
	font-size: 1.3rem;
}

@media (max-width:576px) {
	#about {
		height: auto;
		padding-bottom: 100px;
	}

	section .h2 {
		letter-spacing: 4px;
		font-size: 30px;
		font-weight: 700;
		padding: 15px;
		margin-left: 30px;
	}

	/* about picture */
	section #me {
		border-radius: 9px;
		transition: 0.3s;
		position: relative;
		width: 100%;
		height: auto;
	}

	section .pic-info {
		color: rgb(41, 185, 173);
		font-size: 15px;
		position: absolute;
		top: 90%;
		left: 50%;
	}

	/*end of aboutt picture */

	section .about-info {
		font-size: 17px;
		text-align: justify;
		word-spacing: 1px;
		float: left;
		position: relative;

	}

	.flex-container {
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: center;
		top: 0px;
		left: -15px;
		float: left;
		padding: 0%;
		margin: 0;
	}

	.flex-container>div {
		text-align: center;
		line-height: 75px;
		padding: 5px;
	}

	section .about-info {
		padding: 10px;
	}

	.flex-container .logos {
		width: 100%;
		left: 0px;
	}

	section #seeSkills {
		display: none;
	}

	section #seeSkills:hover {
		font-size: 1.2rem;
	}

}

@media all and (min-width:577px) and (max-width:768px) {
	#about {
		height: auto;
		padding-bottom: 80px;
	}

	section .h2 {
		letter-spacing: 4px;
		font-size: 30px;
		font-weight: 700;
		padding: 15px;
		margin-left: 30px;
	}

	/* about picture */
	section #me {
		border-radius: 9px;
		transition: 0.3s;
		position: relative;
		width: 100%;
		height: auto;
	}

	section .pic-info {
		font-size: 15px;
		position: absolute;
		top: 90%;
		left: 50%;
	}

	section .about-info {
		padding: 10px;
	}

	.flex-container {
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: center;
		top: 0px;
		left: -15px;
		float: left;
		padding: 0%;
		margin: 0;
	}

	.flex-container>div {
		text-align: center;
		line-height: 75px;
		padding: 5px;
	}

	section .about-info {
		padding: 10px;
	}

	.flex-container .logos {
		width: 100%;
		left: 0px;
	}

	section #seeSkills {
		display: none;
	}


}

@media all and (min-width:769px) and (max-width:992px) {
	#about {
		height: 800px;
		position: relative;
	}


	/* about picture */
	section #me {
		width: 90%;
		height: auto;
		box-shadow: 10px 5px;
	}

	section .about-info {
		padding: 10px;
	}

	.overlay {
		position: absolute;
		top: -300px;
		left: 0;
		right: 200px;
	}

	section .pic-info {
		font-size: 12px;
		top: 92%;
		left: 50%;
	}

	/*end of aboutt picture */

	section .about-info {
		font-size: 17px;
	}

	.flex-container {
		display: flex;
		justify-content: center;
		position: relative;
		right: 80px;
	}

	.about-logos img {
		padding: 10px;
		margin-top: 10px;
		position: relative;
	}

	section #seeSkills {
		position: relative;
		bottom: 20px;
		left: 60px;
		padding: 3px 3px;
		font-size: 18px;
		text-align: center;
	}

	section #seeSkills:hover {
		font-size: 1.1rem;
	}
}

@media all and (min-width:993px) and (max-width:1200px) {
	#about {
		height: 800px;
		position: relative;
	}


	/* about picture */
	section #me {
		width: 90%;
		height: auto;
		box-shadow: 10px 5px;
	}

	.overlay {
		display: none;
	}

	section .about-info {
		font-size: 17px;
		padding: 10px;
	}

	.flex-container {
		display: flex;
		justify-content: center;
		position: relative;
		right: 80px;
	}

	.about-logos img {
		padding: 10px;
		margin-top: 10px;
		position: relative;
	}

	section #seeSkills {
		position: relative;
		bottom: 20px;
		left: 60px;
		padding: 3px 3px;
		font-size: 18px;
		text-align: center;
	}

	section #seeSkills:hover {
		font-size: 1.1rem;
	}
}

/* Bar Chart */
#bar-chart {
	height: auto;
	max-width: 100%;
	overflow-x: hidden;
}


#skills {
	height: 770px;
	max-width: 100%;
	background-image: linear-gradient(35deg, #1a1818, #0a2727);
}


.bar-chart {
	list-style: none;
	height: 450px;
	width: 1450px;
	position: relative;
	background-color: #4b3434;
	padding: 0;
	left: 10px;
	margin: 10px;
	/* Y Axis */
}

.bar-chart li {
	display: inline-block;
	width: 10%;
	height: 100%;
	text-align: center;
	font-weight: 700;
	color: rgb(48, 7, 7);
	position: relative;
	font-size: 18px;
	padding: 10px;
	margin: 0 1.8% 0 0;
	border: rgb(143, 139, 139) solid 1px;
	border-radius: 5% 5% 0 0;
	vertical-align: bottom;
	border-bottom: #BBB solid 1px;
	-webkit-box-shadow: inset 1px 3px 3px 2px rgba(36, 18, 18, 0.411);
	-moz-box-shadow: inset 1px 3px 3px 2px rgba(36, 18, 18, 0.411);
	box-shadow: inset 1px 3px 3px 2px rgba(36, 18, 18, 0.411);
}

.bar-chart li:nth-child(6n) {
	margin-right: 0;
}

.bar-chart .percent {
	opacity: 0.3;
	position: absolute;
	bottom: 80px;
	font-size: 45px;
	font-size: 4.5rem;
	width: 100%;
	line-height: 1em;
}

.bar-chart .percent span {
	font-size: 24px;
	font-size: 2.4rem;
	padding-left: 3px;
}

.bar-chart .skill {
	position: absolute;
	bottom: 25px;
	width: 100%;
	font-size: 15px;
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
}

.bar-chart .p-30 {
	height: 30%;
}

.bar-chart .p-40 {
	height: 40%;
}

.bar-chart .p-50 {
	height: 50%;
}

.bar-chart .p-50:hover {
	height: 99%;
}

.bar-chart .p-70 {
	height: 70%;
}

.bar-chart .p-70:hover {
	height: 99%;
}

.bar-chart .p-75 {
	height: 75%;
}

.bar-chart .p-75:hover {
	height: 99%;
}

.bar-chart .p-80 {
	height: 80%;
}

.bar-chart .p-80:hover {
	height: 99%;
}

.bar-chart .p-85 {
	height: 85%;
}

.bar-chart .p-85:hover {
	height: 99%;
}

.bar-chart .p-95 {
	height: 95%;
}

.bar-chart .p-95:hover {
	height: 99%;
}


.bar-chart .p-100 {
	height: 100%;
}

.bar-chart .green {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .darkYellow {
	border-color: #8cb333;
	background-color: #8cb333;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8cb333), color-stop(1, #b2c28f));
	background-image: -ms-linear-gradient(bottom, #8cb333, #8cb333);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #e1ae9e 0%, #f4dcd6 100%);
	background-image: -o-linear-gradient(bottom, #8cb333, #8cb333);
}

.bar-chart .darkYellow:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .lighYellow {
	border-color: #ddae13;
	background-color: #dbae1b;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ddae13), color-stop(1, #d4c181));
	background-image: -ms-linear-gradient(bottom, #dbae1b, #dbae1b);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #dbae1b 0%, #dbae1b 100%);
	background-image: -o-linear-gradient(bottom, #dbae1b, #dbae1b);
}

.bar-chart .lighYellow:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .yellow {
	border-color: #db9a39;
	background-color: #db9a39;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #db9a39), color-stop(1, #d4c181));
	background-image: -ms-linear-gradient(bottom, #db9a39, #dbae1b);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #db9a39 0%, #db9a39 100%);
	background-image: -o-linear-gradient(bottom, #db9a39, #db9a39);
}

.bar-chart .yellow:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .brown {
	border-color: #b88a6b;
	background-color: #b88a6b;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b88a6b), color-stop(1, #dcba83));
	background-image: -ms-linear-gradient(bottom, #b88a6b, #b88a6b);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #b88a6b 0%, #b88a6b 100%);
	background-image: -o-linear-gradient(bottom, #b88a6b, #b88a6b);
}

.bar-chart .brown:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}

.bar-chart .red {
	border-color: #e14949;
	background-color: #da6d6c;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
	background-image: -ms-linear-gradient(bottom, #ca4544, #da6d6c);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #ca4544 0%, #da6d6c 100%);
	background-image: -o-linear-gradient(bottom, #ca4544, #da6d6c);
}


.bar-chart .red:hover {
	border-color: #289e5d;
	background-color: #7fa7a2;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #289e5d), color-stop(1, #78beb6));
	background-image: -ms-linear-gradient(bottom, #289e5d, #289e5d);
	/*background-image: -webkit-linear-gradient(bottom, @start, @stop);*/
	background-image: -moz-linear-gradient(center bottom, #289e5d 0%, #289e5d 100%);
	background-image: -o-linear-gradient(bottom, #289e5d, #289e5d);
}



.bar-chart li.axis {
	width: 10%;
	border: 2px;
	border-right: rgb(10, 2, 2) solid 1px;
	height: 450px;
	background: #464545;
	-webkit-box-shadow: inset 0 0 0 0 #ffffff;
	-moz-box-shadow: inset 0 0 0 0 #ffffff;
	box-shadow: inset 0 0 0 0 #ffffff;

}

.bar-chart .label {
	color: rgb(29, 150, 140);
	opacity: 0.9;
	margin: -0.6em 0 90px 0;
	font-size: 1.2rem;
	font-weight: 500;
	background-color: #252527;
	font-family: 'Poppins', sans-serif;
}


.bar-chart .label:hover {
	color: rgb(35, 201, 187);
	opacity: 0.8;
	margin: -0.6em 0 90px 0;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: #404055;
	font-family: 'Poppins', sans-serif;
}

.frameworks .framework {
	position: relative;
	left: 250px;
	color: #0caa92;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
	border: #fff;

}



@media all and (min-width:300px) and (max-width:480px) {


	#bar-chart {
		overflow: hidden;
		height: auto;
		max-width: 100%;
	}

	#skills {
		height: 700px;
		max-width: 100%;
		background-color: rgb(54, 51, 51);
		display: flex;
		flex-direction: row;
	}

	.bar-chart {
		list-style: none;
		height: 450px;
		width: 100%;
		position: relative;
		background-color: #4b3434;
		padding: 0;
		left: 0px;
		margin: 8px;
		/* Y Axis */
	}

	.bar-chart li {
		display: inline-block;
		width: 8%;
		height: 90%;
		text-align: center;
		font-weight: 500;
		color: rgb(48, 7, 7);
		position: relative;
		font-size: 10px !important;
		padding: 10px;
		margin: 0 1% 1% 0;
		vertical-align: bottom;
	}

	.bar-chart li:nth-child(6n) {
		margin-right: 0;
	}

	.bar-chart .percent {
		opacity: 0.5;
		position: absolute;
		bottom: 100px;
		font-size: 20px;
		width: 100%;
		line-height: 10px;
		left: 3px;
	}

	.bar-chart .percent span {
		font-size: 15px;
		padding-left: 0px;
		position: relative;
		bottom: 20px;
		left: -20px;
	}

	.bar-chart .skill {
		transform: rotate(270deg);
		bottom: 150px;
		width: 100%;
		left: -3px;
		font-size: 15px;
		font-weight: bold;
	}

	.bar-chart li.axis {
		right: 30px;
		width: 24%;
		border: 1px;
		border-right: rgb(10, 2, 2) solid 1px;
		height: 450px;
		background: #464545;

	}

	.bar-chart .label {
		color: rgb(29, 150, 140);
		opacity: 1;
		margin: 0 0 80px 0;
		font-size: 10px;
		font-weight: 600;
		background-color: #343436;
	}


	.bar-chart .label:hover {
		opacity: 0.8;
		margin: 0em 0 90px 0;
		font-size: 10px;
		font-weight: 600;
	}

	.bar-chart .p-50 {
		height: 50%;
		width: 8%;
		left: 5% !important;
	}


	.bar-chart #brown2 {
		left: 6% !important;
		width: 8%;
	}


	.bar-chart #brown {
		left: 1% !important;
		width: 7%;
		left: 5%
	}


	.bar-chart .p-75 {
		height: 75%;
		width: 8%;
		left: 2% !important;
	}


	.bar-chart .p-80 {
		height: 80%;
		width: 8%;
		left: -2% !important;
	}

	.bar-chart .p-85 {
		height: 85%;
		width: 8%;
		left: -2% !important;
	}

	.bar-chart .p-95 {
		height: 95%;
		width: 8%;
		left: -5% !important;
	}
}


@media all and (min-width:481px) and (max-width:700px) {

	#bar-chart {
		overflow: hidden;
		height: auto;
		max-width: 100%;
	}

	#skills {
		height: auto;
		max-width: 100%;
		background-color: rgb(54, 51, 51);
		display: flex;
		flex-direction: row;
	}

	.bar-chart {
		list-style: none;
		height: 450px;
		width: 100%;
		position: relative;
		background-color: #4b3434;
		padding: 0;
		left: 0px;
		margin: 8px;
		/* Y Axis */
	}

	.bar-chart li {
		display: inline-block;
		width: 8%;
		height: 90%;
		text-align: center;
		font-weight: 500;
		color: rgb(48, 7, 7);
		position: relative;
		font-size: 10px !important;
		padding: 10px;
		margin: 0 1% 1% 0;
		vertical-align: bottom;
	}

	.bar-chart li:nth-child(6n) {
		margin-right: 0;
	}

	.bar-chart .percent {
		font-size: 25px;
		width: 100%;
		opacity: .5;
	}

	.bar-chart .percent span {
		font-size: 17px;
		padding-left: 0px;
		position: relative;
		bottom: 25px;
		left: -20px;
	}

	.bar-chart .skill {
		transform: rotate(270deg);
		bottom: 150px;
		width: 100%;
		left: -3px;
		font-size: 18px;
		font-weight: bold;
	}

	.bar-chart li.axis {
		right: 30px;
		width: 26%;
		border: 1px;
		border-right: rgb(10, 2, 2) solid 1px;
		height: 450px;
		background: #464545;
	}

	.bar-chart .label {
		color: rgb(29, 150, 140);
		opacity: 1;
		margin: 0 0 80px 0;
		font-size: 15px;
		font-weight: 700;
		background-color: #343436;
	}

	.bar-chart .label:hover {
		opacity: 0.8;
		margin: 0em 0 90px 0;
		font-size: 15px;
		font-weight: 600;
	}


	.bar-chart .p-50 {
		height: 50%;
		width: 8%;
		left: 5% !important;
	}


	.bar-chart #brown2 {
		left: 6% !important;
		width: 8%;
	}



	.bar-chart #brown {
		left: 1% !important;
		width: 7%;
		left: 5%
	}


	.bar-chart .p-75 {
		height: 75%;
		width: 8%;
		left: 2% !important;
	}


	.bar-chart .p-80 {
		height: 80%;
		width: 8%;
		left: -3% !important;
	}

	.bar-chart .p-85 {
		height: 85%;
		width: 8%;
		left: -2% !important;
	}

	.bar-chart .p-95 {
		height: 95%;
		width: 8%;
		left: -5% !important;
	}

}


@media all and (min-width:700px) and (max-width:1000px) {
	#bar-chart {
		overflow: hidden;
		height: auto;
		max-width: 100%;
	}

	#skills {
		height: auto;
		max-width: 100%;
		background-color: rgb(54, 51, 51);
		display: flex;
		flex-direction: row;
	}

	.bar-chart {
		list-style: none;
		height: 450px;
		width: 100%;
		position: relative;
		background-color: #4b3434;
		padding: 0;
		left: 0px;
		margin: 8px;
		/* Y Axis */
	}

	.bar-chart li {
		display: inline-block;
		width: 8%;
		height: 90%;
		text-align: center;
		font-weight: 500;
		color: rgb(48, 7, 7);
		position: relative;
		font-size: 10px !important;
		padding: 10px;
		margin: 0 1% 1% 0;
		vertical-align: bottom;
	}

	.bar-chart li:nth-child(6n) {
		margin-right: 0;
	}

	.bar-chart .percent {
		font-size: 25px;
		width: 100%;
		opacity: .5;
	}

	.bar-chart .percent span {
		font-size: 17px;
		padding-left: 0px;
		position: relative;
		bottom: 25px;
		left: -20px;
	}

	.bar-chart .skill {
		transform: rotate(270deg);
		bottom: 150px;
		width: 100%;
		left: -3px;
		font-size: 18px;
		font-weight: bold;
	}

	.bar-chart li.axis {
		right: 30px;
		width: 15%;
		border: 1px;
		border-right: rgb(10, 2, 2) solid 1px;
		height: 450px;
		background: #302a2a;
		padding: 10px;
	}

	.bar-chart .label {
		color: rgb(11, 172, 158);
		opacity: 0.9;
		padding: 2px;
		text-align: left;
		margin: -0.6em 0 90px 0;
		font-size: 14px;
		font-weight: 600;
		background-color: #27272b;
		font-family: 'Poppins', sans-serif;
	}


	.bar-chart .label:hover {
		color: rgb(35, 201, 187);
		opacity: 0.8;
		margin: -0.6em 0 90px 0;
		font-size: 14px;
		font-weight: 600;
		background-color: #404055;
		font-family: 'Poppins', sans-serif;
	}



	.bar-chart .p-50 {
		height: 50%;
		width: 8%;
		left: 5% !important;
	}


	.bar-chart #brown2 {
		left: 6% !important;
		width: 8%;
	}



	.bar-chart #brown {
		left: 1% !important;
		width: 7%;
		left: 5%
	}


	.bar-chart .p-75 {
		height: 75%;
		width: 8%;
		left: 2% !important;
	}


	.bar-chart .p-80 {
		height: 80%;
		width: 8%;
		left: -3% !important;
	}

	.bar-chart .p-85 {
		height: 85%;
		width: 8%;
		left: -2% !important;
	}

	.bar-chart .p-95 {
		height: 95%;
		width: 8%;
		left: -4% !important;
	}

}

@media all and (min-width:1000px) and (max-width:1400px) {
	#bar-chart {
		overflow: hidden;
		height: auto;
		max-width: 100%;
	}

	#skills {
		height: auto;
		max-width: 100%;
		background-color: rgb(54, 51, 51);
		display: flex;
		flex-direction: row;
	}

	.bar-chart {
		list-style: none;
		height: 450px;
		width: 100%;
		position: relative;
		background-color: #4b3434;
		padding: 0;
		left: 0px;
		margin: 8px;
		/* Y Axis */
	}

	.bar-chart li {
		display: inline-block;
		width: 8%;
		height: 90%;
		text-align: center;
		font-weight: 500;
		color: rgb(48, 7, 7);
		position: relative;
		font-size: 10px !important;
		padding: 10px;
		margin: 0 1% 1% 0;
		vertical-align: bottom;
	}

	.bar-chart li:nth-child(6n) {
		margin-right: 0;
	}

	.bar-chart .percent {
		font-size: 25px;
		width: 100%;
		opacity: .5;
	}

	.bar-chart .percent span {
		font-size: 17px;
		padding-left: 0px;
		position: relative;
		bottom: 25px;
		left: -20px;
	}

	.bar-chart .skill {
		transform: rotate(270deg);
		bottom: 170px;
		width: 100%;
		left: -3px;
		font-size: 21px;
		font-weight: bold;
	}

	.bar-chart li.axis {
		right: 30px;
		width: 15%;
		border: 1px;
		border-right: rgb(10, 2, 2) solid 1px;
		height: 450px;
		background: #1d1a1a;
		padding: 10px;
	}

	.bar-chart .label {
		color: rgb(11, 172, 158);
		opacity: 0.9;
		padding: 5px;
		margin: -0.6em 0 90px 0;
		font-size: 1.2rem;
		font-weight: 700;
		background-color: #252527;
		font-family: 'Poppins', sans-serif;
	}


	.bar-chart .label:hover {
		color: rgb(35, 201, 187);
		opacity: 0.8;
		margin: -0.6em 0 90px 0;
		font-size: 1.2rem;
		font-weight: 600;
		background-color: #404055;
		font-family: 'Poppins', sans-serif;
	}


	.bar-chart .p-50 {
		height: 50%;
		width: 8%;
		left: 6% !important;
	}


	.bar-chart #brown2 {
		left: 6% !important;
		width: 8%;
	}

	.bar-chart #brown {
		width: 8%;
		left: 3% !important;
	}


	.bar-chart .p-75 {
		height: 75%;
		width: 8%;
		left: 3% !important;
	}


	.bar-chart .p-80 {
		height: 80%;
		width: 8%;
		left: 0 !important;
	}

	.bar-chart .p-85 {
		height: 85%;
		width: 8%;
		left: 0 !important;
	}

	.bar-chart .p-95 {
		height: 95%;
		width: 8%;
		left: -3% !important;
	}

}

/* top button  */
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-image: linear-gradient(35deg, #01c2c2, #0f460a);
	color: rgb(0, 0, 0);
	cursor: pointer;
	padding: 1px;
	border-radius: 15px;
	font-size: 25px;

}

#myBtn:hover {
	opacity: .8;
	font-size: 26px;
	bottom: 21px;
}



/*  Portfolio Section */


#portfolio {
	background-image: linear-gradient(35deg, #1a1818, #0a2727);
}

.content-wrapper {
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0.5rem;
}


.news-card {
	border: 0px solid aqua;
	margin: 0.5rem;
	position: relative;
	height: 12rem;
	overflow: hidden;
	border-radius: 0.5rem;
	flex: 1;
	min-width: 290px;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	backface-visibility:hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

	.news-card {
		height: 20rem
	}
}

.news-card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
	;
	z-index: 0;
}

.news-card__card-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	/*     background: rgba(255,0,0,.5); */
}

.news-card__image {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	transition: transform 3s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	z-index: -1;
}

.news-card__text-wrapper {
	position: absolute;
	bottom: 0rem;
	padding: 1rem;
	color: white;
	/*     background-color: rgba(0, 0, 0, 0.4); */
	transition: background-color 1.5s ease;
}

.news-card__title {
	transition: color 1s ease;
	margin-bottom: .5rem;
}

.news-card__post-date {
	font-size: .7rem;
	margin-bottom: .5rem;
	color: #CCC;
}

.news-card__details-wrapper {
	max-height: 0;
	opacity: 0;
	transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
	.news-card:hover .news-card__details-wrapper {
		max-height: 20rem;
		opacity: 1;
	}

	.news-card:hover .news-card__text-wrapper {
		background-color: rgba(0, 0, 0, 0.6);
	}

	.news-card:hover .news-card__title {
		color: yellow;
	}

	.news-card:hover .news-card__image {
		transform: scale(1.2);
		z-index: -1;
	}
}

.news-card__excerpt {
	font-weight: 300;
}

.news-card__read-more {
	background: black;
	color: #bbb;
	display: block;
	padding: 0.4rem 0.6rem;
	border-radius: 0.3rem;
	margin-top: 1rem;
	border: 1px solid #444;
	font-size: 0.8rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-decoration: none;
	width: 7rem;
	margin-left: auto;
	position: relative;
	z-index: 5;
}

.news-card__read-more i {
	position: relative;
	left: 0.2rem;
	color: #888;
	transition: left 0.5s ease, color 0.6s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.news-card__read-more:hover i {
	left: 0.5rem;
	color: yellow;
}




/* Contact Section*/

#contact_section {
	background-image: linear-gradient(35deg, #1a1818, #0a2727);
	height: auto;
	overflow-x: hidden;
	width: 100%;

}


.contact_container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-basis: 100%;
}

.form_container {
	margin: 20px;
	flex: 3;
	order: 2;
}


 



.logo_container {
	display: flex;
	flex: 3;
	order: 1;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-grow: 2;
	margin: 20px;
}

.logo_container img:hover {
	opacity: 0.7;
	box-shadow: #34495e;
}

.logo_container>div {
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

form textarea,
form input {
	background-image: linear-gradient(35deg, #312e2e, #222929);
	color: #ffffff;
	padding: 15px;
	margin: 20px;
	width: 80%;
	border: 2px solid #0c2c2c;
	transition: 0.3s;
}

textarea.contactForm {
	resize: none;
}

#sendButton:hover,
.contactForm:hover {
	box-shadow: 0 0 10px 4px #34495e;
}

#sendButton {
	border-radius: 10%;
	width: 30%;
	height: 40px;
	text-align: center;
	position: relative;
	left: 40%;
	right: 60%;
	transform: translate(-50%, -50%);
	transition: 0.4s;
	color: #00ffd9;
	text-transform: uppercase;
	background: #221e1e;
	margin-top: 20px;
}

#sendButton:hover {
	background: #165f10;
	opacity: 0.8;
}



@media all and (max-width:700px) {
	.contact_container {
		flex-wrap: wrap;
		flex-basis: 100%;
		flex-direction: column;
	}

	.form_container {
		margin: 20px;
		flex: 4;
		order: 1;
	}

	.logo_container {
		flex: 3;
		order: 2;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		flex-grow: 2;
		margin: 10px;


	}

	form textarea,
	form input {
		width: 90%;
	}

}


/* footer section */
footer {
	background-image: linear-gradient(35deg, #1a1818, #0a2727);
}

footer hr {
	border: 1px solid #707070;
	padding: 0;
	margin: 0;
}

footer p {
	text-align: center;
	color: #726f6f;
	font-size: 1.1rem;
	padding: 20px 0;
	margin: 0;
}